include *.txt
include *.md
include *.pkl
recursive-include ./attrition_model *

include attrition_model/datasets/wa_fn_usec_hr_employee_attrition_tsv.csv
include attrition_model/datasets/test.csv
include attrition_model/trained_models/*.pkl
include attrition_model/VERSION
include attrition_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]